<%= form_for([post, comment]) do |f| %>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_field :content, class: "form-control", rows: "3", required:true %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
